<!DOCTYPE HTML>
<html>
	<head>
		<title>PHPJabbers.com | Free Computer Store Website Template</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<header id="header" class="alt">
					<a href="index.html" class="logo"><strong>Game-</strong><span>Sport</span></a>
					<nav>
						<a href="#menu">Menu</a>
					</nav>
				</header>

				<!-- Menu -->
				<nav id="menu">
					<ul class="links">
		                <li class="active"> <a href="index.html">Accueil </a> </li>

		                <li> <a href="products.html">Products</a> </li>

		                <li> <a href="checkout.html">Checkout</a> </li>

		                <li><a href="contact.html">Contact Us</a></li>

		                <li class="dropdown">
		                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About</a>
		                    
		                    <ul class="dropdown-menu">
		                        <li> <a href="about-us.html">About Us</a> </li>
				                <li><a href="team.html">Team</a></li>
				                <li> <a href="blog.html">Blog</a> </li>

				                <li><a href="testimonials.html">Testimonials</a></li>
				                
				                <li><a href="terms.html">Contactez nous</a></li>
		                    </ul>
		                </li>
            		</ul>
				</nav>

				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<h1>Bienvenu sur le site de Game-Sport</h1>
							</header>
							<div class="content">
								<p>Pour participer, veuillez-vous inscrire</p>
								<ul class="actions">
									<li><a href="contact.html" class="button next scrolly">S'inscrire</a></li>
								</ul>
							</div>
						</div>
					</section>

				<!-- Main -->
				<div id="main">
					
					
					<!-- About us -->
					<section>
						<div class="inner">
							<header class="major">
								<h2>A propos de nous</h2>
							</header>
							<p>Game-Sport est une jeune société ayant pour objectif de regrouper les joueurs du mondes afin de participer à des tournois en ligne.</p>
							<ul class="actions">
								<li><a href="about-us.html" class="button next">Contactez nous</a></li>
							</ul>
						</div>
					</section>
					
					<!-- Featured Products -->
							<section class="tiles">
								<article>
									<span class="image">
										<img src="images/super-1024x439.jpg" alt="" />
									</span>
									<header class="major">
										<h3>Voir vos équipes</h3>

										<p>Si vous voulez consulter vos équipes.</p>

										<div class="major-actions">
											<a href="product-details.html" class="button small next">Liste des équipes</a>
										</div>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/rejoindre.jpg" alt="" />
									</span>
									<header class="major">
										<h3>Rejoindre une équipe</h3>


										<p>Si vous voulez rejoindre une équipes.</p>

										<div class="major-actions">
											<a href="product-details.html" class="button small next">Rejoindre une équipe</a>
										</div>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/join.jpg" alt="" />
									</span>
									<header class="major">
										<h3>Creer une équipe</h3>


										<p>Si vous voulez créer une équipes.</p>

										<div class="major-actions">
											<a href="product-details.html" class="button small next">Créer une équipe</a>
										</div>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/tournois.png" alt="" />
									</span>
									<header class="major">
										<h3>Liste de vos tournois</h3>


										<p>Si vous voulez consulter vos tournois.</p>

										<div class="major-actions">
											<a href="product-details.html" class="button small next">Liste des tournois</a>
										</div>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/chargement.jpg" alt="" />
									</span>
									<header class="major">
										<h3>Rejoindre un tournois</h3>


										<p>Si vous voulez rejoindre un tournois.</p>

										<div class="major-actions">
											<a href="product-details.html" class="button small next">Rejoindre un tournois</a>
										</div>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/wx.png" alt="" />
									</span>
									<header class="major">
										<h3>Creer un tournois</h3>


										<p>Si vous voulez créer une tournois.</p>

										<div class="major-actions">
											<a href="product-details.html" class="button small next">Créer un tournois</a>
										</div>
									</header>
								</article>
							</section>

					<!-- Testimonials -->
					<section>
						<div class="inner">
							<header class="major">
								<h2>Découvrir Game-Sport</h2>
							</header>
							<div class="row">								
									<iframe width="100%" height="500" src="https://www.youtube.com/embed/sxNsi_SmIrI" frameborder="0" allowfullscreen></iframe>
							</div>
						</div>
					</section>

					<!-- Blog Posts -->
					<section class="tiles">
						<article>
							<span class="image">
								<img src="images/blog-1-720x480.jpg" alt="" />
							</span>
							<header class="major">
								<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit hic</h3>

								<p><br> <span>John Doe</span> | <span>12/06/2020 10:30 </span> | <span>114</span></p>

								<div class="major-actions">
									<a href="blog-details.html" class="button small next scrolly">Read Blog</a>
								</div>
							</header>
						</article>
						<article>
							<span class="image">
								<img src="images/blog-2-720x480.jpg" alt="" />
							</span>
							<header class="major">
								<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit hic</h3>

								<p><br> <span>John Doe</span> | <span>12/06/2020 10:30 </span> | <span>114</span></p>

								<div class="major-actions">
									<a href="blog-details.html" class="button small next scrolly">Read Blog</a>
								</div>
							</header>
						</article>
						<article>
							<span class="image">
								<img src="images/blog-3-720x480.jpg" alt="" />
							</span>
							<header class="major">
								<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit hic</h3>

								<p><br> <span>John Doe</span> | <span>12/06/2020 10:30 </span> | <span>114</span></p>

								<div class="major-actions">
									<a href="blog-details.html" class="button small next scrolly">Read Blog</a>
								</div>
							</header>
						</article>
					</section>
				</div>


			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>